.drawer--right .drawer-nav {
    height: auto;
}
.drawer--right .drawer-hamburger {
    right: 10px;
}
.drawer--right .drawer-hamburger:hover {
    cursor: pointer;
}
.drawer-menu-item {
    color: #fff;
}
.drawer-nav {
    background: #eb643b;
}
.drawer-hamburger {
    position: absolute;
    z-index: 104;
    top: 10px;
    display: inline-block;
    box-sizing: content-box;
    width: 28px;
    padding: 0;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border: 0;
    outline: 0;
    background-color: #fff;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 3px;
}
.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    width: 8px;
    height: 8px;
    -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #eb643b;
    border-radius: 50%;
}
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    position: absolute;
    top: -12px;
    left: 0px;
    content: " ";
}
.drawer-hamburger-icon:after {
    top: 12px;
}
.drawer-hamburger-icon {
    margin-top: 0;
    left: 10px;
}
.drawer--right.drawer-open .drawer-hamburger {
    position: fixed;
    margin-right: 5px;
}
.drawer-open .drawer-hamburger-icon {
    background-color: #eb643b;
}
.drawer-hamburger:hover {
    background: #fff;
    outline: none;
}
.drawer-open .drawer-hamburger-icon:after,
.drawer-open .drawer-hamburger-icon:before {
    top: -12px;
}
.drawer-open .drawer-hamburger-icon:after {
    top: 12px;
}
#menu_mobile .drawer-menu-item:hover,
#menu_mobile .drawer-menu-item:focus {
    text-decoration: none;
    color: #fff;
}
.drawer-dropdown-menu-item{
    line-height: 40px;
    font-family: "Roboto Condensed";
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.drawer-dropdown-menu-item:hover{
    text-decoration: none;
}
.drawer--right .drawer-nav{
    padding: 10px 0;
}
.drawer-dropdown-menu{
    background-color: #eb643b;
}
.drawer-dropdown-menu{
    padding-left: 25px;
}
.drawer-menu-item{
    font-family: "Roboto Condensed";
    font-weight: 500;
    padding: 0 .75rem 0 0;
    line-height: 30px;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .sdmi-row{
        max-height: 100%;
    }
    .sdm-item__step{
        margin-top: 0;
    }
    .vbcn-thumb .swiper-button-prev{
        display: none;
    }
    .vbcn-thumb .swiper-button-next{
        display: none;
    }
    /* CSS */
    .tl-teaser{
        min-height: auto;
    }
    .tt-images{
        margin-bottom: 20px;
    }
    .tt-position,
    .tt-content h3{
        text-align: center;
    }
    .jn-image{
        margin: 20px auto 0;
    }
    .slide-caption h1{
        font-size: 14px;
    }
    .slide-caption{
        margin-top: 70px;
        top: 0;
        transform: translate(-50%, 0);
    }
    .slide-caption a{
        margin-top: 0;
    }
    .vbc-group{
        position: static;
        bottom: 0;
        transform: none;
        margin-top: 20px;
    }
    .vbcg-main{
        margin-top: 20px;
        height: auto;
        flex-direction: column;
    }
    .vbcg-item:first-child,
    .vbcg-item{
        border-left: 0;
        padding: 20px 0;
    }
    .vbcg-title{
        min-height: auto;
        margin: 15px 0;
    }
    .vbcg-img{
        text-align: center
    }
    .vbcg-img img{
        max-height: 200px;
    }
    .vbc-slide{
        margin-bottom: 30px;
    }

    .vbc-title{
        margin-bottom: 20px;
        max-width: 100%;
    }
    .vbcp-item__icon{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .vbcp-item h3{
        margin: 0 0 0 20px;
    }
    .vbcp-item{
        margin-bottom: 20px;
    }
    .vbcp-item a{
        margin-top: 0;
    }
    .bg-product-shape-r,
    .bg-product-shape{
        display: none;
    }
    .vbc-news{
        height: auto;
    }
    .footer-images,
    .vbcn-item{
        margin-bottom: 20px;
    }
    footer .vbcvm-title:after{
        width: calc(100% - 200px);
    }
    .footer-bottom{
        padding-top: 0;
    }
    .footer-images img{
        width: 100%;
    }
    footer{
        background-size: cover;
        min-height: auto;
    }
    footer .vbcvm-title{
        color: #FFF;
    }
    #btn-submit{
        background-color: #eb643b;
    }
    .fb-item{
        margin-bottom: 25px;
    }
    .fbm-copy{
        text-align: center;
        margin-top: 25px;
    }
    .vbc-lang{
        margin: 10px 0;
    }
    .header-right{
        flex-direction: column;
        height: auto;
    }
    .header-right__desktop{
        display: none;
    }
    .vbc-search{
        margin-bottom: 10px;
    }

    .news-big__left{
        margin-bottom: 20px;
    }
    .news-title a{
        min-height: auto;
    }
    .news-title{
        height: auto;
    }
    .box-breadcrumb h1{
        font-size: 24px;
    }
    .ndm-content{
        padding: 0;
    }
    .jn-image img{
        width: 100%;
        margin-bottom: 20px;
    }
    .edge-policy__item{
        width: 50%;
        margin-bottom: 20px;
    }
    .eight-item{
        width: 50%;
    }
    .sdmi-content__center{
        padding-top: 0;
    }
    .sdmi-content__center:before{
        display: none;
    }
    .sdmi-content__center:after{
        display: none;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */
    .slide-caption h1{
        font-size: 14px;
        max-width: 100%;
    }
    .slide-caption{
        margin-top: 15px;
        top: 0;
        transform: translate(-50%, 0);
    }
    .slide-caption a{
        margin-top: 0;
    }
    .vbc-group{
        position: static;
        bottom: 0;
        transform: none;
        margin-top: 20px;
    }
    .vbcg-main{
        margin-top: 20px;
        height: auto;
        flex-direction: column;
    }
    .vbcg-item:first-child,
    .vbcg-item{
        border-left: 0;
        padding: 20px 0;
    }
    .vbcg-title{
        min-height: auto;
        margin: 15px 0;
    }
    .vbcg-img{
        text-align: center
    }
    .vbcg-img img{
        max-height: 200px;
    }
    .vbc-slide{
        margin-bottom: 30px;
    }

    .vbc-title{
        margin-bottom: 20px;
        max-width: 100%;
    }
    .vbcp-item__icon{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .vbcp-item h3{
        margin: 0 0 0 20px;
    }
    .vbcp-item{
        margin-bottom: 20px;
    }
    .vbcp-item a{
        margin-top: 0;
    }
    .bg-product-shape-r,
    .bg-product-shape{
        display: none;
    }
    .vbc-news{
        height: auto;
    }
    .footer-images,
    .vbcn-item{
        margin-bottom: 20px;
    }
    footer .vbcvm-title:after{
        width: calc(100% - 200px);
    }
    .footer-bottom{
        padding-top: 0;
    }
    footer{
        background-size: cover;
        min-height: auto;
    }
    footer  .vbcvm-title{
        color: #FFF;
    }
    #btn-submit{
        background-color: #eb643b;
    }
    .fb-item{
        margin-bottom: 25px;
    }
    .fbm-copy{
        text-align: center;
        margin-top: 25px;
    }
    .vbc-lang{
        margin: 10px 0;
    }
    .header-right{
        flex-direction: column;
        height: auto;
    }
    .header-right__desktop{
        display: none;
    }
    .vbc-search{
        margin-bottom: 10px;
    }
    .news-title a{
        min-height: auto;
    }
    .news-title{
        height: auto;
    }
    .box-breadcrumb h1{
        font-size: 22px;
    }
    .ndm-content h2{
        font-size: 20px;
    }
    .ndm-content{
        padding: 0;
    }
    .ndm-banner{
        margin-bottom: 20px;
        display: block;
    }
    .about-img img{
        margin-top: 20px;
    }
    .about-top-main{
        padding-right: 0;
    }
    .ndm-banner img{
        width: 100%;
    }
    .album-big h2,
    .jn-title h2{
        font-size: 20px;
    }
    .jn-image{
        margin-bottom: 20px;
    }
    .jn-image img{
        width: 100%;
    }
    .jn-image{
        margin: 20px auto;
    }
    .join-network-bottom{
        min-height: auto;
    }
    .about-img-2{
        margin-bottom: 30px;
        text-align: center;
    }
    .about-vison-2 ul{
        flex-direction: column;
    }
    .about-vison-2 ul li{
        margin-bottom: 20px;
    }
    .about-vison-2 ul li:after{
        display: none;
    }
    .member-top-item{
        margin-bottom: 20px;
        background: rgb(0 0 0 / 0.5);
    }
    .mti-content{
        position: static;
    }
    .mti-g-name{
        right: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        background: rgb(0 0 0 / 0.5);
        padding: 20px 0;
    }
    .mti-name-big br{
        display: none;
    }
    .album-big{
        padding: 30px 0 0;
    }
    .edge-policy__item{
        width: 100%;
        margin-bottom: 20px;
    }
    .eight-item{
        width: 100%;
    }
    .sdmi-content__center{
        padding-top: 0;
    }
    .sdmi-content__center:before{
        display: none;
    }
    .sdmi-content__center:after{
        display: none;
    }
    .er-item{
        margin-bottom: 20px;
    }
    .tt-position,
    .tt-content h3{
        text-align: center;
    }
    .tl-teaser{
        min-height: auto;
    }
    .partner-item{
        justify-content: center;
    }
    .pt-list .col-lg-6:last-child .partner-item{
        margin-top: 20px;
        justify-content: center;
    }
    .vbcn-thumb .swiper-button-prev{
        display: none;
    }
    .vbcn-thumb .swiper-button-next{
        display: none;
    }
    .sdm-item__step{
        margin-top: 0;
    }
    .sdmi-row{
        max-height: 100%;
    }
    .breadcrumb-sub{
        overflow: auto;
        white-space: nowrap;
    }
    .pledge-colum{
        grid-template-columns: auto;
    }
    .vbc-register{
        flex-direction: column;
    }
    .vbc-tool{
        margin-bottom: 20px;
    }
    .vbcj-main{
        border-radius: 0;
    }
    .join-register__form{
        padding: 15px;
    }
    #fre-form .form-control,
    #jrf-form .form-control{
        margin-bottom: 1rem;
    }
    #fre-form .form-group,
    #fre-form #event-title,
    #jrf-form .form-group,
    #jrf-form #join-need{
        margin-bottom: 0;
    }
    .btn-send-contact{
        margin-top: 1rem;
    }
    .contact-top{
        padding: 20px 0;
    }
    #fre-form .btn-send-contact{
        margin-top: 0;
    }
    #fre-form .btn-no-top{
        margin-top: 1rem;
    }
}
